.table {
    display: table;
    width: 100%;
    margin: 87px auto 0;
    border-collapse: collapse;

}

.row {
    display: table-row;

    border-bottom: 1px solid #e5e5e5;

}

.column {
    display: table-cell;
    padding-bottom: 15px;
    padding-top: 15px;
    vertical-align: middle;
}

.column-1 {
    width: 124px;
    padding-left: 11px;
}

.column-3 {
    width: 155px;
}

.column-4 {
    width: 100px;
}

.column-5 {
    width: 85px;
}

.column-6 {
    width: 110px;
}

.column-7 {
    width: 75px;
}


