.search-animation{
    transition: width,border;
    transition-duration: 1s;
}
.slider-animation{
    transition-property: margin-right;
    transition-duration: 1s;
}
.add-to-cart-animation{
    transition: background-color;
    transition-duration: 1s;
}