@media all and (max-width: 1024px) {
    body, html {
        width: 100%;
    }

    .main-wrapper {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .content-container {
        width: 975px;
        margin: 0 auto;
    }

    .form-input {
        width: 460px;
    }

    .sizes-switcher-container {
        max-width: 975px;
    }

    .switcher-element {
        width: 185px;
    }

    .category-item {
        max-width: 170px;
    }

    .category-image-container {
        width: inherit;
    }

    .product-image-big {
        width: 875px;
    }
}
