@media all and (max-width: 1024px) {
    body, html {
        width: 100%;
    }

    .main-wrapper {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .content-container {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    .form-input {
        width: 460px;
    }
    .product-images-container{
        width: 100%;
    }

    .sizes-switcher-container {
        max-width: 975px;
    }

    .switcher-element {
        width: 185px;
    }

    .category-item {
        max-width: 170px;
    }

    .category-image-container {
        width: inherit;
    }

    .product-image-big {
        width: 87.7179487%;
    }
}
